{% load static %}
<header>
  <nav class="container">
    <a href="{% url 'D20' %}">
    <div class="logo-container">
        <img src="{% static 'image/logo.png' %}" alt="Logo" class="logo-image">

        <div class="logo">{{ don_vi.ten_don_vi }}</div>
      </div></a>
    <div class="nav-links">
        <a href="{% url 'manage_qtt' %}">Quan ly quan trang</a>
        <a href="#">Hướng dẫn</a>
        <a href="#">Liên hệ</a>
    
        {% if request.user.is_authenticated %}
        <!-- Hiển thị tên người dùng và icon đăng xuất -->
        <a href="#" style="display: inline-flex; align-items: center;">
            <i class="bi bi-person-circle" style="margin-right: 5px;"></i>{{ request.user.username }}
        </a>
        <a href="{% url 'logout' %}" style="display: inline-flex; align-items: center; color: var(--text-color);">
            <i class="bi bi-box-arrow-right" style="margin-right: 5px;"></i>Đăng xuất
        </a>
    {% else %}
        <!-- Hiển thị nút Đăng nhập nếu chưa đăng nhập -->
        <a href="{% url 'login' %}" style="display: inline-flex; align-items: center; color: var(--text-color);">
            <i class="bi bi-box-arrow-in-right" style="margin-right: 5px;"></i>Đăng nhập
        </a>
    {% endif %}
    </div>
    
</nav>
    <!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #23517200;">
        <div class="container-fluid">
            <a href="{% url 'D20' %}"><div class="logo-container">
                <img src="{% static 'image/logo.png' %}" alt="Logo" class="logo-image">
                <div class="logo">TIỂU ĐOÀN 20</div>
            </div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav justify-content-end">
                  

            
                    {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">{{ request.user.username }}</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
              </li>  
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
       -->
</header>
