{% extends "appstatic/base.html" %}

{% block title %}
    Danh sách Phiếu Xuất
{% endblock %}

{% block content %}
<style>
.page-title {
    font-size: 2rem;
    color: #0a3d62;
    margin-bottom: 1rem;
    text-align: center;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: left;
}

.styled-table thead tr {
    background-color: #acacac;
    color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 0.75rem;
    border: 1px solid #dddddd;
}


.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr.no-data td {
    text-align: center;
    font-style: italic;
    color: #999999;
}

.styled-table tbody td {
    vertical-align: middle;
}
</style>
<div class="container">
    <h2 class="" style="padding-top: 80px; text-align: center;font-weight: bold; color: chocolate;">Danh sách Phiếu Xuất</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Mã Phiếu</th>
                <th>Kho</th>
                <th>Quân Tư Trang</th>
                <th>Số Lượng</th>
                <th>Ngày Xuất</th>
                <th>Đơn Vị Nhận</th>
            </tr>
        </thead>
        <tbody>
            {% for phieu in phieu_xuat_list %}
            <tr>
                <td>{{ phieu.code }}</td>
                <td>{{ phieu.kho.ten_kho }}</td>
                <td>{{ phieu.quan_tu_trang.ten_qtt }}</td>
                <td>{{ phieu.so_luong_xuat }}</td>
                <td>{{ phieu.ngay_xuat }}</td>
                <td>{{ phieu.don_vi_nhan.ten_don_vi }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="no-data">Không có phiếu xuất nào.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
